<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Name | SaaS Landing Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./library/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./library/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body class="wrapper">
  <!-- Header Start -->
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html"> <i class="fa-solid fa-cubes-stacked navbar-brand-icon"></i> Name</a>
        <button class="navbar-toggler" type="button" id="navbarNavBtn" data-bs-toggle="collapse"
          data-bs-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <div class="navbar-toggler">
            <div class="navbar-toggler-line"></div>
            <div class="navbar-toggler-line"></div>
            <div class="navbar-toggler-line"></div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#features">features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#download">download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#pricing">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="blog-article.html">Article</a></li>
                <li><a class="dropdown-item" href="blog-home.html">Blog Feed</a></li>
              </ul>
            </li>
          </ul>

          <a class="btn nav-btn signup-btn" href="signup.html">Signup</a>
        </div>
      </div>
    </nav>
  </header>
  <!-- Header End -->


  <!-- Hero Start -->
  <section class="hero">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="hero-text col-lg-6 pb-6">
          <h1 class="hero-title">Take your business to next level.
          </h1>
          <p class="hero-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard
            dummy text ever since the 1500s.
          </p>

          <a class="btn hero-btn" href="#pricing">Get Started</a>
          <a class="btn hero-btn btn-primary" href="#services">Learn More</a>
        </div>
        <div class="hero-img col-lg-6">
          <img src="./images/hero-img.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- Hero End -->

  <!--Brands Start-->
  <section class="brands">
    <div class="container text-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-2 pb-5 ">
          <img src="./images/amazon.svg" alt="amazon logo">
        </div>
        <div class="col-md-2 pb-5">
          <img src="./images/google.svg" alt="google logo">
        </div>
        <div class="col-md-2 pb-5">
          <img src="./images/intel.svg" alt="intel logo">
        </div>
        <div class="col-md-2 pb-5">
          <img src="./images/microsoft.svg" alt="microsoft logo">
        </div>
        <div class="col-md-2 pb-5">
          <img src="./images/amazon.svg" alt="amazon logo">
        </div>
      </div>
    </div>
  </section>
  <!--Brands End-->

  <!--Features Start-->
  <section class="features py-5" id="features">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5">
          <p class="section-subtitle">Features</p>
          <h2 class="
          ">
            Features You'll have
          </h2>

          <p>
            Nullam a fringilla erat, vehicula semper felis. Pellentesque habitant morbi tristique senectus et netus et
            malesuada
            fames ac turpis egestas.
          </p>

          <p>
            Nam ac massa consequat, imperdiet nisl eget, pretium purus. Sed pharetra vulputate metus. Nunc ultrices
            eros augue, non pulvinar orci lacinia eu.

          </p>
          <a class="btn secondery-btn" href="#pricing">Get Started</a>
        </div>
        <div class="col-lg-7 row justify-content-between">
          <div class="col-md-6 p-0">
            <div class="features-item">
              <i class="fa-solid fa-lightbulb features-item-icon"></i>
              <h3>AI powered</h3>
              <p>
                It is a long established fact that a reader will be distracted by the readable.
              </p>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <div class="features-item">
              <i class="fa-solid fa-video features-item-icon"></i>
              <h3>AI powered</h3>
              <p>
                It is a long established fact that a reader will be distracted by the readable.
              </p>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <div class="features-item">
              <i class="fa-solid fa-fingerprint features-item-icon"></i>
              <h3>AI powered</h3>
              <p>
                It is a long established fact that a reader will be distracted by the readable.
              </p>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <div class="features-item">
              <i class="fa-solid fa-hat-cowboy-side features-item-icon"></i>
              <h3>AI powered</h3>
              <p>
                It is a long established fact that a reader will be distracted by the readable.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Features End-->

  <!--Counter Start-->
  <section id="counter">
    <div class="container counter">
      <div class="row justify-content-center">
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="34000"
            data-precounter-duration="3">
            34000
          </p>
          <p class="counter-text">Happy customers</p>
        </div>
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="4000" data-precounter-duration="3">
            4000
          </p>
          <p class="counter-text">Nam nesciunt</p>
        </div>
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="43552"
            data-precounter-duration="3">
            43552
          </p>
          <p class="counter-text">reprehenderit</p>
        </div>
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="53423"
            data-precounter-duration="3">
            53423
          </p>
          <p class="counter-text">corporis ullam</p>
        </div>
      </div>
    </div>
  </section>
  <!--Counter End-->

  <!--Options Items Start-->
  <section class="options">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-center mb-2">
        <div class="options-info col-md-5 order-2 order-md-1">
          <p class="section-subtitle">
            specimen
          </p>
          <h3>Contrary to popular belief, Lorem Ipsum</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
          </p>

          <a class="btn" href="#pricing">Get Started</a>
        </div>
        <div class="options-img col-md-6 order-1 order-md-2">
          <img src="./images/features-1.png" alt="statistic">
        </div>
      </div>
      <div class="row justify-content-between align-items-center mb-2 ">
        <div class="options-img col-md-6 order-2 order-md-1">
          <img src="./images/features-2.png" alt="statistic">
        </div>
        <div class="options-info col-md-5 order-2 order-md-1">
          <p class="section-subtitle">
            specimen
          </p>
          <h3>Contrary to popular belief, Lorem Ipsum</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
          </p>

          <a class="btn" href="#pricing">Get Started</a>
        </div>
      </div>
      <div class="row justify-content-between align-items-center mb-2">
        <div class="options-info col-md-5 order-2 order-md-1">
          <p class="section-subtitle">
            specimen
          </p>
          <h3>Contrary to popular belief, Lorem Ipsum</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
          </p>

          <a class="btn" href="#pricing">Get Started</a>
        </div>
        <div class="options-img col-md-6 order-1 order-md-2">
          <img src="./images/features-3.png" alt="statistic">
        </div>
      </div>
    </div>
  </section>
  <!--Options Items End-->

  <!--Testimonials Start-->
  <section class="testimonials py-5" id="testimonials">
    <div class="section-top testimonials-top py-5">
      <p class="section-subtitle">testimonials</p>
      <h2 class="section-title">Loved by our customers and partners</h2>
    </div>
    <div class="container swiper testimonial pb-5">
      <div class="swiper-wrapper">

        <div class="testimonials-item swiper-slide">
          <p class="testimonials-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
            vitae
            a voluptatum totam sit aspernatur architecto.
          </p>
          <div class="testimonials-author">
            <div class="testimonials-author-img"><img src="./images/testimonial-img-1.png" alt=""></div>
            <div class="testimonials-author-info">
              <h4>Sherly Smith</h4>
              <p>CEO @Apple</p>
            </div>
          </div>
        </div>
        <div class="testimonials-item swiper-slide">
          <p class="testimonials-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
            vitae
            a voluptatum totam sit aspernatur architecto.
          </p>
          <div class="testimonials-author">
            <div class="testimonials-author-img"><img src="./images/testimonial-img-2.png" alt=""></div>
            <div class="testimonials-author-info">
              <h4>Sherly Smith</h4>
              <p>CEO @Apple</p>
            </div>
          </div>
        </div>
        <div class="testimonials-item swiper-slide">
          <p class="testimonials-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
            vitae
            a voluptatum totam sit aspernatur architecto.
          </p>
          <div class="testimonials-author">
            <div class="testimonials-author-img"><img src="./images/testimonial-img-3.png" alt=""></div>
            <div class="testimonials-author-info">
              <h4>Sherly Smith</h4>
              <p>CEO @Apple</p>
            </div>
          </div>
        </div>
        <div class="testimonials-item swiper-slide">
          <p class="testimonials-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
            vitae
            a voluptatum totam sit aspernatur architecto.
          </p>
          <div class="testimonials-author">
            <div class="testimonials-author-img"><img src="./images/testimonial-img-4.png" alt=""></div>
            <div class="testimonials-author-info">
              <h4>Sherly Smith</h4>
              <p>CEO @Apple</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonials End-->

  <!-- Price Start -->
  <section class="price section py-5" id="pricing">
    <div class="section-top price-top py-5">
      <p class="section-subtitle">Pricing</p>
      <h2 class="section-title">Simple & Transparent Pricing</h2>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center pb-5">
        <div class="price-item col-md-4">
          <p class="section-subtitle">free</p>
          <h3 class="price-type">basic</h3>
          <ul class="available-services">
            <li>Lorem ipsum dolor</li>
            <li>sit amet consectetur</li>
            <li>Lorem Ipsum has been the</li>
          </ul>
          <p class="price-amount-cont"> <span class="price-amount"> $0</span>/month</p>
          <button class="btn price-btn">download Now</button>
        </div>
        <div class="price-item col-md-4">
          <p class="section-subtitle">team</p>
          <h3 class="price-type">Advance</h3>
          <ul class="available-services">
            <li>Lorem ipsum dolor</li>
            <li>sit amet consectetur</li>
            <li>Lorem Ipsum has been the</li>
          </ul>
          <p class="price-amount-cont"> <span class="price-amount"> $0</span>/month</p>
          <button class="btn price-btn">download Now</button>
        </div>
        <div class="price-item col-md-4">
          <p class="section-subtitle">advance</p>
          <h3 class="price-type">Enterprise</h3>
          <ul class="available-services">
            <li>Lorem ipsum dolor</li>
            <li>sit amet consectetur</li>
            <li>Lorem Ipsum has been the</li>
          </ul>
          <p class="price-amount-cont"> <span class="price-amount"> $0</span>/month</p>
          <button class="btn price-btn">download Now</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Price End -->

  <!--Blog Start-->
  <section class="blog" id="blog">
    <div class="section-top blog-top pb-5">
      <p class="section-subtitle">blog</p>
      <h2 class="section-title">Check our latest news & articles</h2>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="blog-item col-md-3">
          <img src="./images/blog-1.png" alt="blog thumbnail">
          <p>oct 25, 2022 by<a href="#">Jhon Doe </a></p>
          <p class="blog-item-title">
            Sed perspiciatis voluptatem, quas laudantium doloribus eveniet enim.
          </p>
          <a href="blog-article.html" class="blog-item-btn">Read More</a>
        </div>
        <div class="blog-item col-md-3">
          <img src="./images/blog-2.png" alt="blog thumbnail">
          <p>oct 25, 2022 by <a href="#"> Jhon Doe </a></p>
          <p class="blog-item-title">
            Sed perspiciatis voluptatem, quas laudantium doloribus eveniet enim.
          </p>
          <a href="blog-article.html" class="blog-item-btn">Read More</a>
        </div>
        <div class="blog-item col-md-3">
          <img src="./images/blog-3.png" alt="blog thumbnail">
          <p>oct 25, 2022 by <a href="#"> Jhon Doe </a></p>
          <p class="blog-item-title">
            Sed perspiciatis voluptatem, quas laudantium doloribus eveniet enim.
          </p>
          <a href="blog-article.html" class="blog-item-btn">Read More</a>
        </div>

        <div class="col-md-3">
          <a href="blog-home.html" class="btn btn-primary">Browse our blog</a>
        </div>
      </div>

    </div>
  </section>
  <!--Blog End-->

  <!--Download Start-->
  <section id="download">
    <div class="container download">
      <div class="section-top download-top py-5">
        <p class="section-subtitle">download</p>
        <h2 class="section-title download-title px-5">consectetur Ipsum passage</h2>

        <div class="download-buttons">
          <a class="btn" href="#downloadlink">Download Now!</a>
          <a class="btn btn-primary" href="#pricing">Our Pricing</a>
        </div>
      </div>
    </div>
  </section>
  <!--Download End-->

  <!-- Footer Start -->
  <footer class="footer pt-5">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
          <a class="navbar-brand footer-logo" href="index.html">NAME</a>
          <p class="footer-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            quia reiciendis ipsum, harum maiores facilis
          </p>
        </div>

        <div class="col-md-4">
          <h3 class="footer-links-title">Important Links</h3>
          <ul class="list-unstyled">
            <li class="footer-link">
              <a href="index.html#yourlink">Home</a>
            </li>
            <li class="footer-link">
              <a href="index.html#yourlink">About</a>
            </li>
            <li class="footer-link">
              <a href="index.html#yourlink">Services</a>
            </li>
            <li class="footer-link">
              <a href="index.html#yourlink">Contact</a>
            </li>
        </div>

        <div class="col-md-3">
          <div class="social">
            <a href="index.html#yourlink"><i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="index.html#yourlink"><i class="fa-brands fa-twitter"></i>
            </a>
            <a href="index.html#yourlink"><i class="fa-brands fa-instagram"></i>
            </a>
            <a href="index.html#yourlink"><i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>

        <div class="footer-text text-center mt-5 py-3">
          <p>
            Copy right @2022 Company
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->


  <script src="./library/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./library/jquery-3.6.0.min.js"></script>
  <script src="./library/swiper/swiper-bundle.min.js"></script>
  <script src="./library/purecounter.js"></script>
  <script src="./script.js"></script>

</body>

</html>
