<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aviato | Agency Landing Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./library/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./library/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/styles.css" />
</head>

<body class="wrapper">
  <!-- Header Start -->
  <header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html"> <i class="fa-solid fa-austral-sign navbar-brand-icon"></i> Aviato</a>
        <button class="navbar-toggler" type="button" id="navbarNavBtn" data-bs-toggle="collapse"
          data-bs-target="navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <div class="navbar-toggler">
            <div class="navbar-toggler-line"></div>
            <div class="navbar-toggler-line"></div>
            <div class="navbar-toggler-line"></div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#features">features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#download">download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html#blog">Blog</a>
            </li>
          </ul>

          <a class="btn nav-btn signup-btn" href="signup.html">Signup</a>
        </div>
      </div>
    </nav>
  </header>
  <!-- Header End -->


  <!-- Hero Start -->
  <section class="hero">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="hero-text col-lg-6">
          <h1 class="hero-title">grow your business like fire

          </h1>
          <p class="hero-description">
            Aenean vel consequat augue, ac iaculis elit. Nulla eu dolor quis justo semper aliquet. Integer maximus risus
            ante, at
            egestas dolor molestie.
          </p>

          <div class="hero-form">
            <input type="text" placeholder="Enter email">
            <button class="btn">subscribe</button>
          </div>
        </div>
        <div class="hero-img col-lg-6">
          <img src="./images/hero-img.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- Hero End -->

  <!--Cards Start-->
  <section class="cards" id="cards">
    <div class="container">
      <div class="row justify-content-between">
        <div class="cards-item cards-item-active col-lg-4">
          <div class="cards-item-icon mb-3">
            <i class="fas fa-chart-line"></i>
          </div>
          <h3 class="title">Lorem ipsum</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          </p>
        </div>
        <div class="cards-item col-lg-4">
          <div class="cards-item-icon mb-3">
            <i class="fas fa-chart-bar"></i>
          </div>
          <h3 class="title">Lorem ipsum</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          </p>
        </div>
        <div class="cards-item col-lg-4">
          <div class="cards-item-icon mb-3">
            <i class="fa-solid fa-person-running"></i>
          </div>
          <h3 class="title">Lorem ipsum</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Cards End-->

  <!--Features Start-->
  <section class="features py-5" id="features">
    <div class="section-top features-top py-5">
      <p class="section-subtitle">Features</p>
      <h2 class="section-title">Donec gravida ultricies.</h2>
      <p class="section-description">
        Integer mattis auctor felis at pharetra. Vestibulum ipsum elit, congue eget malesuada quis, ultrices et justo.
        Mauris
        gravida eu felis et bibendum.
      </p>
    </div>
    <div class="container features-content pb-5">
      <ul class="tab tab-pills mb-3" id="pills-tab" role="tablist">
        <li class="tab-item" role="presentation">
          <button class="tab-link nav-link active" id="pills-livechat-tab" data-bs-toggle="pill"
            data-bs-target="#pills-livechat" type="button" role="tab" aria-controls="pills-livechat"
            aria-selected="true">Live Chat</button>
        </li>
        <li class="tab-item" role="presentation">
          <button class="tab-link nav-link" id="pills-tracking-tab" data-bs-toggle="pill"
            data-bs-target="#pills-tracking" type="button" role="tab" aria-controls="pills-tracking"
            aria-selected="true">Tracking</button>
        </li>
        <li class="tab-item" role="presentation">
          <button class="tab-link nav-link" id="pills-dataflow-tab" data-bs-toggle="pill"
            data-bs-target="#pills-dataflow" type="button" role="tab" aria-controls="pills-dataflow"
            aria-selected="true">Data Flow</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-livechat" role="tabpanel" aria-labelledby="pills-livechat-tab"
          tabindex="0">
          <div class="row justify-content-between align-items-center">
            <div class="features-img col-lg-6">
              <img src="./images/features-img.png" alt="dashboard preview">
            </div>

            <div class="features-info col-lg-6">
              <h3>
                Easiest possible integration
              </h3>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsa asperiores natus voluptate
                repudiandae enim laborum ea vel, inventore, culpa optio nulla quibusdam minus provident nemo, vero illo
                reiciendis delectus.
              </p>

              <h4>View Data</h4>
              <p>Delectus iure rem quam, odit assumenda impedit minus, iusto hic nulla at aliquam et corporis ullam
                reprehenderit quod</p>

              <h4>Track User Data</h4>
              <p>Nam nesciunt error ex. hic nulla at aliquam et corporis ullam reprehenderit quod. Nam nesciunt error
                ex.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-tracking" role="tabpanel" aria-labelledby="pills-tracking-tab"
          tabindex="0">
          <div class="row justify-content-between align-items-center">
            <div class="features-img col-lg-5">
              <img src="./images/features-img.png" alt="dashboard preview">
            </div>

            <div class="features-info col-lg-6">
              <h3>
                Veritatis ipsa asperiores natus
              </h3>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsa asperiores natus voluptate
                repudiandae enim laborum ea vel, inventore, culpa optio nulla quibusdam minus provident nemo, vero illo
                reiciendis delectus.
              </p>

              <h4 class="">Track User</h4>
              <p>Delectus iure rem quam, odit assumenda impedit minus, iusto hic nulla at aliquam et corporis ullam
                reprehenderit quod</p>

              <h4 class="">See what the user doing</h4>
              <p>Nam nesciunt error ex. hic nulla at aliquam et corporis ullam reprehenderit quod. Nam nesciunt error
                ex.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-dataflow" role="tabpanel" aria-labelledby="pills-dataflow-tab"
          tabindex="0">
          <div class="row justify-content-between align-items-center">
            <div class="features-img col-lg-5">
              <img src="./images/features-img.png" alt="dashboard preview">
            </div>

            <div class="features-info col-lg-6">
              <h3>
                Easiest possible integration
              </h3>

              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis ipsa asperiores natus voluptate
                repudiandae enim laborum ea vel, inventore, culpa optio nulla quibusdam minus provident nemo, vero illo
                reiciendis delectus.
              </p>

              <h4 class="">View Data</h4>
              <p>Delectus iure rem quam, odit assumenda impedit minus, iusto hic nulla at aliquam et corporis ullam
                reprehenderit quod</p>

              <h4 class="">Track User Data</h4>
              <p>Nam nesciunt error ex. hic nulla at aliquam et corporis ullam reprehenderit quod. Nam nesciunt error
                ex.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Features End-->


  <!--Counter Start-->
  <section class="counter" id="counter">
    <div class="container">
      <div class="row">
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="34000"
            data-precounter-duration="3">
            34000
          </p>
          <p class="counter-text">Happy customers</p>
        </div>
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="4000" data-precounter-duration="3">
            4000
          </p>
          <p class="counter-text">Nam nesciunt</p>
        </div>
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="43552"
            data-precounter-duration="3">
            43552
          </p>
          <p class="counter-text">reprehenderit</p>
        </div>
        <div class="counter-item col-md-3">
          <p class="counter-number" data-purecounter-start="0" data-purecounter-end="53423"
            data-precounter-duration="3">
            53423
          </p>
          <p class="counter-text">corporis ullam</p>
        </div>
      </div>
    </div>
  </section>
  <!--Counter End-->


  <!--Process Start-->
  <section class="process py-5" id="process">
    <div class="container">
      <div class="process-item row justify-content-between align-items-center">
        <div class="process-item-info col-lg-6">
          <p class="section-subtitle">
            01.Process
          </p>
          <h2 class="section-title">Dolor sit amet conse adipisicing?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet excepturi, recusandae facere cum labore
            doloremque expedita aspernatur enim quam. Voluptate, sunt amet ullam expedita debitis qui. Sapiente maiores
            cum laborum.
          </p>
        </div>
        <div class="process-item-img col-lg-5">
          <img src="./images/image-1.png" alt="laptop showing the analytics">
        </div>
      </div>
      <div class="process-item row justify-content-between align-items-center">
        <div class="process-item-img col-lg-5">
          <img src="./images/image-1.png" alt="laptop showing the analytics">
        </div>
        <div class="process-item-info col-lg-6">
          <p class="section-subtitle">
            02.consectetur
          </p>
          <h2 class="section-title">Dolor sit amet conse adipisicing?</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet excepturi, recusandae facere cum labore
            doloremque expedita aspernatur enim quam. Voluptate, sunt amet ullam expedita debitis qui. Sapiente maiores
            cum laborum.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Process End-->

  <!-- Price Start -->
  <section class="price section py-5" id="pricing">
    <div class="section-top price-top py-5">
      <p class="section-subtitle">Pricing</p>
      <h2 class="section-title">Pricing & Plans</h2>
      <p class="section-description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime sed
        provident libero cumque.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime sed
        provident libero cumque.
      </p>
    </div>

    <div class="container">
      <div class="row pb-5 justify-content-center">
        <div class="price-item col-lg-3">
          <h3 class="price-type">basic</h3>
          <p class="price-amount"> $0</p>
          <ul class="available-services">
            <li>Lorem ipsum dolor</li>
            <li>sit amet consectetur</li>
            <li>Lorem Ipsum has been the</li>
            <li>Ut quis pellentesque sem</li>
          </ul>
          <button class="btn price-btn">Buy Now</button>
        </div>
        <div class="price-item col-lg-3">
          <h3 class="price-type">Regular</h3>
          <p class="price-amount"> $10</p>
          <ul class="available-services">
            <li>Lorem ipsum dolor</li>
            <li>sit amet consectetur</li>
            <li>Praesent sit amet lacinia</li>
            <li>Curabitur vestibulum, erat</li>
            <li>Ut quis pellentesque sem</li>
          </ul>
          <button class="btn price-btn">Buy Now</button>
        </div>
        <div class="price-item col-lg-3">
          <h3 class="price-type">Advance</h3>
          <p class="price-amount"> $30</p>
          <ul class="available-services">
            <li>Lorem ipsum dolor</li>
            <li>Lorem ipsum dolor</li>
            <li>sit amet consectetur</li>
            <li>Aliquam erat volutpat</li>
            <li>Curabitur vestibulum, erat</li>
          </ul>
          <button class="btn price-btn">Buy Now</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Price End -->

  <!--Testimonials Start-->
  <section class="testimonials py-5" id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="./images/quote.png" alt="">
        </div>

        <div class="swiper testimonial col-md-10">
          <div class="swiper-wrapper">
            <div class="testimonials-item swiper-slide">
              <p class="testimonials-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
                vitae
                a voluptatum totam sit aspernatur architecto.
              </p>
              <h4 class="">David Amell</h4>
              <p>CEO @Apple</p>
              <img src="./images/testimonial-img-1.png" alt="">
            </div>
            <div class="testimonials-item swiper-slide">
              <p class="testimonials-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
                vitae
                a voluptatum totam sit aspernatur architecto.
              </p>
              <h4 class="">Sony Asperna</h4>
              <p>CEO @Apple</p>
              <img src="./images/testimonial-img-2.png" alt="">
            </div>
            <div class="testimonials-item swiper-slide">
              <p class="testimonials-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
                vitae
                a voluptatum totam sit aspernatur architecto.
              </p>
              <h4 class="">Jhon Dell</h4>
              <p>CEO @Apple</p>
              <img src="./images/testimonial-img-3.png" alt="">
            </div>
            <div class="testimonials-item swiper-slide">
              <p class="testimonials-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae quasi nemo eligendi sapiente,
                vitae
                a voluptatum totam sit aspernatur architecto.
              </p>
              <h4 class="">Sam Halls</h4>
              <p>CEO @Apple</p>
              <img src="./images/testimonial-img-4.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonials End-->

  <!--Brands Start-->
  <section class="brands py-5">
    <div class="container text-center">
      <p>Rerum eveniet repudiandae, repellat quis officiis autem?</p>
      <div class="row align-items-center justify-content-center py-3">
        <div class="col-md-2 brands-item">
          <img src="./images/amazon.svg" alt="amazon logo">
        </div>
        <div class="col-md-2 brands-item">
          <img src="./images/google.svg" alt="google logo">
        </div>
        <div class="col-md-2 brands-item">
          <img src="./images/intel.svg" alt="intel logo">
        </div>
        <div class="col-md-2 brands-item">
          <img src="./images/microsoft.svg" alt="microsoft logo">
        </div>
        <div class="col-md-2 brands-item">
          <img src="./images/amazon.svg" alt="amazon logo">
        </div>
      </div>
    </div>
  </section>
  <!--Brands End-->

  <!--Blog Start-->
  <section class="blog" id="blog">
    <div class="section-top blog-top pb-5">
      <p class="section-subtitle">blog</p>
      <h2 class="section-title">Check our latest news & articles</h2>
      <p class="section-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla inventore libero, corrupti sapiente eius, ipsum
        nobis atque iusto voluptatem aspernatur
      </p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="blog-item col-md-3">
          <img src="./images/blog-img.png" alt="blog thumbnail">
          <p>oct 25, 2022 by<a href="#">Jhon Doe </a></p>
          <p class="blog-item-title">
            Sed perspiciatis voluptatem, quas laudantium doloribus eveniet enim.
          </p>
          <a href="blog-article.html" class="blog-item-btn">Read More</a>
        </div>
        <div class="blog-item col-md-3">
          <img src="./images/blog-img.png" alt="blog thumbnail">
          <p>oct 25, 2022 by <a href="#"> Jhon Doe </a></p>
          <p class="blog-item-title">
            Sed perspiciatis voluptatem, quas laudantium doloribus eveniet enim.
          </p>
          <a href="blog-article.html" class="blog-item-btn">Read More</a>
        </div>
        <div class="blog-item col-md-3">
          <img src="./images/blog-img.png" alt="blog thumbnail">
          <p>oct 25, 2022 by <a href="#"> Jhon Doe </a></p>
          <p class="blog-item-title">
            Sed perspiciatis voluptatem, quas laudantium doloribus eveniet enim.
          </p>
          <a href="blog-article.html" class="blog-item-btn">Read More</a>
        </div>

        <div class="col-md-3">
          <a href="blog-home.html" class="btn btn-primary">Browse our blog</a>
        </div>
      </div>

    </div>
  </section>
  <!--Blog End-->


  <!--FAQ Start-->
  <section class="faq section py-5">
    <div class="container py-5">
      <div class="row align-items-center justify-content-between">
        <div class="faq-info col-md-5">
          <p class="section-subtitle">FAQ</p>
          <h2 class="section-title">
            frequently asked questions
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptate asperiores, nisi tempora tempore
            voluptatem libero recusandae ut dolorem at quisquam praesentium dolorum ipsa perferendis, quas dolor neque
            expedita sunt?
          </p>

          <p>
            Still have a question?
          </p>

          <h5>Email us at company@gmail.com</h5>
        </div>

        <div class="faq-questions col-md-6">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  It's also worth noting that just about?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                  plugin adds
                  the appropriate classes that we use to style each element. These classes control the overall
                  appearance, as well
                  as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                  overriding our
                  default variables. It's also worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  These classes control the overall
                  appearance?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                  plugin
                  adds the appropriate classes that we use to style each element. These classes control the overall
                  appearance, as
                  well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                  overriding our
                  default variables. It's also worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  It's also worth noting that just about any HTML?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                  plugin
                  adds the appropriate classes that we use to style each element. These classes control the overall
                  appearance, as
                  well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                  overriding our
                  default variables. It's also worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFoure">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFoure" aria-expanded="false" aria-controls="collapseFoure">
                  You can modify any of this with custom CSS </button>
              </h2>
              <div id="collapseFoure" class="accordion-collapse collapse" aria-labelledby="headingFoure"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                  plugin
                  adds the appropriate classes that we use to style each element. These classes control the overall
                  appearance, as
                  well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or
                  overriding our
                  default variables. It's also worth noting that just about any HTML can go within the
                  <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--FAQ End-->

  <!-- Footer Start -->
  <footer class="footer pt-5">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
          <a class="navbar-brand footer-logo" href="index.html">Aviato</a>
          <p class="footer-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            quia reiciendis ipsum, harum maiores facilis
          </p>
        </div>

        <div class="col-md-4">
          <h3 class="footer-links-title">Important Links</h3>
          <ul class="list-unstyled">
            <li class="footer-link">
              <a href="index.html#yourlink">Home</a>
            </li>
            <li class="footer-link">
              <a href="index.html#yourlink">About</a>
            </li>
            <li class="footer-link">
              <a href="index.html#yourlink">Services</a>
            </li>
            <li class="footer-link">
              <a href="index.html#yourlink">Contact</a>
            </li>
        </div>

        <div class="col-md-3">
          <div class="social">
            <a href="index.html#yourlink"><i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="index.html#yourlink"><i class="fa-brands fa-twitter"></i>
            </a>
            <a href="index.html#yourlink"><i class="fa-brands fa-instagram"></i>
            </a>
            <a href="index.html#yourlink"><i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
        </div>

        <div class="footer-text text-center mt-5 py-3">
          <p>
            Copy right @2022 Company
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->


  <script src="./library/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./library/jquery-3.6.0.min.js"></script>
  <script src="./library/swiper/swiper-bundle.min.js"></script>
  <script src="./library/purecounter.js"></script>

  <script src="./script.js"></script>

</body>

</html>
