<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moore | App Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body class="wrapper">
    <!-- Header Start -->
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light">
            <div class="container">
                <a class="navbar-brand" href="index.html">PRE<span class="highlighted-text">VAIL</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html#contact">Contact</a>
                        </li>
                    </ul>

                    <a class="nav-btn signup-btn btn-primary btn" href="signup.html">Signup</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header End -->

    <!-- Main Start -->
    <div class="container">
        <div class="row justify-content-center py-5 my-5">
            <div class="col-md-12 text-center py-5">
                <h2 class="section-title">Login Now!</h2>
                <p>Don't have an account yet? Then register <a href="signup.html"> now! </a></a></p>
            </div>

            <form class="col-16 col-md-6 signup-form">
                <div class="form-group mb-4">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Email" />
                </div>
                <div class="form-group mb-4">
                    <input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
                        placeholder="Password" />
                </div>
                <button type="submit" class="btn col-12">Login</button>
            </form>
        </div>
    </div>
    <!-- Signup Form Start -->



    <!-- Footer Start -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-4">
                    <h3 class="footer-logo">MOORE</h3>
                    <p class="footer-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
                        quia reiciendis ipsum, harum maiores facilis
                    </p>
                </div>

                <div class="col-md-4">
                    <h3 class="footer-links-title">Important Links</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                </div>

                <div class="col-md-3">
                    <div class="footer-social">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#"><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#"><i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <script src="./bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./script.js"></script>

</body>

</html>
